

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="https://centrikt.ru:40001/Content/admin-content/js/jquery.min.js"></script>

    <link href="https://centrikt.ru:40001/Content/admin-content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://centrikt.ru:40001/Content/admin-content/js/bootstrap.min.js"></script>
    <link href="Content/admin-content/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="content_all">
    
<div class="head">
    <ul>
        <li style="background-color: #fff; width: 1px;">
            <div class="logo">
                <a href="#"><img src="https://centrikt.ru:40001/Content/admin-content/css/img/logo.png"></a>
            </div><span class="logo_tit">Мониторинг цистерн</span></li>
        <li style="text-align: right">
            <div class="head_menu">
                <a href="https://centrikt.ru:40001/">ТЕКУЩИЕ ДАННЫЕ (НАВИГАЦИЯ)</a>
                <a href="https://centrikt.ru:40001/Monitoring/AskpEgais">ИСТОРИЯ(АСКП/ЕГАИС)</a>
                <a href="https://centrikt.ru:40001/Monitoring/GpsPointsCache">КЭШ АНАЛИЗАТОР</a>

                <a href="https://centrikt.ru:40001/Home/Logout">test999 [Выйти]</a>
            </div>
        </li>
    </ul>
</div>

    <nav>
    <ul>
        <li><a href="#" class="active-it">Организации и контроллеры</a></li>
        <li class="menu_lines2"></li>
        <li><a href="#">Роли и пользователи</a></li>
        <li class="menu_lines2"></li>
        <li><a href="#">Привязка организаций к пользователям</a></li>
    </ul>
</nav>



    <div class="content">
        <div class="cont_table">
            


<ul ng-app="askpApp" ng-controller="organisationController" ng-cloak>

    <li class="left_cell">
        <div class="cont_left" id="article1">
            <div class="table1">
    <ul class="thead">
        <li style="width: 1px">№</li>
        <li>
            <h1>Организация</h1>
        </li>
        <li style="width: 1px">Код<br>организации</li>
        <li style="text-align: center; width: 1px;">Ред.</li>
    </ul>

    <ul class="{{GetSelectedItemCssClass(org, SelectedOrganisation)}}" ng-repeat="org in Organisations" ng-click="SetSelectedOrganisation(org)" ng-cloak>
        <li ng-cloak>{{org.Index}}</li>
        <li ng-cloak>{{org.Name}}</li>
        <li ng-cloak>{{org.OrganisationCode}}</li>
        <li>
            <div class="ic_block">
                <a href="" ng-click="SetCreateOrEditOrganisationModel(org, 'edit')" data-toggle="modal" data-target="#create_or_edit_org" class="ic_edit"></a>
                <a href="" data-toggle="modal" data-target="#del_org" class="ic_del"></a>
            </div>
        </li>
    </ul>
</div>
<div class="table_foot">
    <a href="" ng-click="SetCreateOrEditOrganisationModel(org, 'create')" class="btn-lg btn-primary" data-toggle="modal" data-target="#create_or_edit_org" style="margin-top: 10px; display: inline-block">Добавить организацию</a>
    <br><br>
</div>
        </div>
    </li>
    <li class="right_cell">
        <div class="cont_right" id="aside1">
            <div class="table2"></div>

            <h1 style="color: #2A6BA2; margin: 23px 0 24px 0;" ng-cloak>{{SelectedOrganisation.Name}}</h1>
<div class="line1"></div>
<h2 style="color: #2A6BA2">Контроллеры</h2>
<div class="table2">
    <ul class="thead">
        <li>№</li>
        <li>Гос.номер</li>
        <li>IMEI-АСКП</li>
        <li>IMEI-ЕГАИС</li>
        <li style="text-align: center; width: 1px;">Ред.</li>
    </ul>
    <ul ng-repeat="controller in SelectedOrganisation.Controllers" class="{{GetSelectedItemCssClass(controller, SelectedController)}}" ng-click="SetSelectedController(controller)" ng-cloak>
        <li>{{controller.Index}}</li>
        <li>{{controller.CarNumber}}</li>
        <li>{{controller.Imei}}</li>
        <li>{{controller.EgaisImei}}</li>
        <li>
            <div class="ic_block_small">
                <a href="" ng-click="SetEditControllerModel(controller)" class="ic_edit_small" data-toggle="modal" data-target="#edit_controllers"></a>
                <a href="" data-toggle="modal" data-target="#del_controllers" class="ic_del_small"></a>
            </div>
        </li>
    </ul>
</div>
<div class="table_foot">
    <a href="" ng-click="SetCreateControllerModel()" class="btn btn-primary" data-toggle="modal" data-target="#add_controllers">Добавить контроллер</a>
</div>
            <h2 style="color: #2A6BA2">Оборудование - {{SelectedController.CarNumber}}</h2>
<div class="table2">
    <ul class="thead">
        <li>Наименование оборудования</li>
        <li>Режим/Номер точки</li>
        <li>№ оборудования</li>
        <li>Дата установки</li>
        <li style="text-align: center; width: 1px;">Ред.</li>
    </ul>
    <ul ng-repeat="sensor in SelectedController.Sensors" class="{{GetSelectedItemCssClass(sensor, SelectedSensor)}}" ng-click="SetSelectedSensor(sensor)" ng-cloak>
        <li>{{sensor.Name}}</li>
        <li>{{sensor.PointNumber}}</li>
        <li>{{sensor.SerialNumber}}</li>
        <li>{{sensor.SensorDate | date: 'dd.MM.yyyy'}}</li>
        <li>
            <div class="ic_block_small">
                <a href="" ng-click="SetCreateOrEditSensorModel(sensor, 'edit')" class="ic_edit_small" data-toggle="modal" data-target="#create_or_edit_sensor"></a>
                <a href="" class="ic_del_small" data-toggle="modal" data-target="#del_counter"></a>
            </div>
        </li>
    </ul>
</div>
<div class="table_foot">
    <a href="" class="btn btn-primary" ng-click="SetCreateOrEditSensorModel(sensor, 'create')" data-toggle="modal" data-target="#create_or_edit_sensor">Добавить оборудование</a>
</div>

        </div>
    </li>
</ul>
        </div>
    </div>

</div>
    
    <script src="https://centrikt.ru:40001/Content/admin-content/js/inblockfix.js"></script>

    <script src="https://centrikt.ru:40001/Scripts/moment.js"></script>
    <script src="https://centrikt.ru:40001/Scripts/moment-with-locales.js"></script>

    <script src="https://centrikt.ru:40001/Scripts/date.format.js"></script>

    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/kendo/kendo.common.min.css"https://centrikt.ru:40001/>
    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/kendo/kendo.default.min.css"https://centrikt.ru:40001/>
    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/kendo/kendo.common-material.min.css"https://centrikt.ru:40001/>
    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/kendo/kendo.rtl.min.css"https://centrikt.ru:40001/>
    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/kendo/kendo.material.min.css"https://centrikt.ru:40001/>
    <link rel="stylesheet" href="https://centrikt.ru:40001/Content/angular-chart/angular-chart.css"https://centrikt.ru:40001/>





    <script src='/Scripts/angular.js'></script>

    <script src="https://centrikt.ru:40001/Scripts/objects.js"></script>

    <script src="https://centrikt.ru:40001/Content/kendo/kendo.all.min.js"></script>
    <script src="https://centrikt.ru:40001/Scripts/cultures/kendo.culture.ru-RU.min.js"></script>
    <script src="https://centrikt.ru:40001/Content/kendo/kendo-elements.js"></script>

    <script src='/Scripts/angular-simple-logger.js'></script>
    <script src="https://centrikt.ru:40001/AngularJs/Controllers/organisationController.js"></script>
    <script src="https://centrikt.ru:40001/AngularJs/Services/organisationCreateCodeIsUnique.js"></script>
    <script src="https://centrikt.ru:40001/AngularJs/Services/organisationEditCodeIsUnique.js"></script>
    <script src="https://centrikt.ru:40001/AngularJs/Directives/create-unique-org-code.js"></script>
    <script src="https://centrikt.ru:40001/AngularJs/Directives/edit-unique-org-code.js"></script>
    <script src="https://centrikt.ru:40001/AngularJs/Directives/only-digits.js"></script>
    
</body>
</html>
